@import "../../theme/variables.scss";

.wrapper {
  background: #178bd6;
  padding: 5px;
}

.topSection {
  padding: 5px 0;
}

.textBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 10px;
  background: #fff;
  color: #000;

  .textBlockText {
    color: #704d08;
  }

  >div {
    display: inline-flex;
  }
}

.content {
  text-transform: uppercase;
  background: #faf4bf;
  padding: 5px;
  padding-top: 0;
}

.ticket {
  background: #3187ec;
}

.ticket {
  color: #fff;
  font-size: 36px;
  display: flex;
  margin: 5px 0;
  padding: 5px;
  align-items: center;
}
.ticketImg {
  background: url('../MyAccount/ticket.png') no-repeat center center;
  width: 63px;
  height: 56px;
}

.ticketImg {
  background-size: cover;
  display: inline-flex;
}

.inlineFlex {
  display: inline-flex;
  flex-direction: column;
  padding-left: 10px;
}