<table class="row">
    <tr>
        <td class="wrapper">
            <table class="twelve columns">
                <tr>
                    <td class="footer center">
                        <p class="text-warning">■システムメンテナンスのお知らせ</p>
                        <p class="text-warning">サービス向上の為、毎日 23:00〜05:00 にシステムメンテナンスを行ないます。</p>
                        <p class="text-warning">システムメンテナンス中はサービスをご利用頂けません。</p>
                        <p class="text-warning">会員様には大変ご迷惑をおかけいたしますが、何卒ご了承頂けますようよろしくお願い申し上げます。</p>

                        <!--p class="footer_just">
                            Forgot your password?
                            <a href="{{config.url}}/?auth-form-mode=reset&auth-form-email={{email}}"
                               style="color: #4285f4;" target="_blank">Click here</a>
                            to receive password reset instructions.
                            You can also change your
                            <a href="{{config.url}}/settings/notifications" style="color: #4285f4;" target="_blank">notification
                                settings</a>.
                            If you have received this email in error, please contact us at
                            <a href="mailto:support@5starsmedia.com.ua" style="color: #4285f4;">support@5starsmedia.com.ua</a>
                        </p-->

                        <p class="center copyright">
                            &copy; BRAVE
                        </p>

                    </td>

                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>
</body>
</html>
