<table class="row">
    <tr>
        <td class="wrapper">
            <table class="twelve columns">
                <tr>
                    <td class="footer center">

                        <table class="footer__social center margin-top-12 margin-bottom-12">
                            <tr>
                                <td class="center">
                                    <a href="{{config.urls.facebook}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/facebook-circle-dark.png"
                                             alt="facebook" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.linkedin}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/linkedin-circle-dark.png"
                                             alt="linkedin" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.googleplus}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/google-plus-circle-dark.png"
                                             alt="google plus" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.twitter}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/twitter-circle-dark.png"
                                             alt="twitter" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.pinterest}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/pinterest-circle-dark.png"
                                             alt="pinterest" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.tumblr}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/tumblr-circle-dark.png"
                                             alt="tumblr" class="social-icon-img"/>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="{{config.urls.instagram}}"
                                       target="_blank">
                                        <img width="32" height="32"
                                             src="{{config.images}}/instagram-circle-dark.png"
                                             alt="instagram" class="social-icon-img"/>
                                    </a>
                                </td>
                            </tr>

                        </table>

                        <p class="footer_just">
                            Forgot your password?
                            <a href="{{config.url}}/?auth-form-mode=reset&auth-form-email={{email}}"
                               style="color: #80be25;" target="_blank">Click here</a>
                            to receive password reset instructions.
                            You can also change your
                            <a href="{{config.url}}/settings/notifications" style="color: #80be25;" target="_blank">notification
                                settings</a>.
                            If you have received this email in error, please contact us at
                            <a href="mailto:support@example.com" style="color: #80be25;">support@example.com</a>
                        </p>

                        <p class="center">
                            &copy; 2015 Example&trade; All Rights Reserved
                        </p>

                    </td>

                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>
</body>
</html>
