<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Paphos CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        {{> ink.css}}
        {{> styles.css}}
    </style>
</head>
<body bgcolor="#fff">

<table class="body">
<tr>
<td class="center" align="center" valign="top">

    <table class="container">
    <tr>
        <td>

            <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="twelve columns">
                        <tr>
                            <td class="center">
                                <center>
                                    <a href="#" class="logo-link center" target="_blank">
                                        <img src="{{config.images}}/logo.png"
                                             class="logo"
                                             width="80" height="80" alt="Paphos CMS"/>
                                    </a>
                                </center>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>
