@import "../../theme/variables.scss";

.wrapper {

  padding: 5px;
}

.topSection {
  padding: 5px 0;
}

.memberIdBlock, .rankBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px;
  background: #fff;

  >div {
    display: inline-flex;
  }
}

.buttonBar {
  margin: 5px 0;
}

.content {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: #faf4bf;
}

.commissionButton {
  background: #31c9d6;
}

.basicInformationButton {
  background: #ed63b8;
}

.virtualStock {
  background: #f33a6e;
}

.ticket {
  background: #3187ec;
}

.brave3Way {
  background: #f5a321;
}

.brave2Way {
  background: #2dc329;
}

.brave1Way {
  background: #f244bb;
}

.virtualStock, .ticket, .brave3Way, .brave2Way, .brave1Way {
  display: flex;
  margin: 5px 0;
  padding: 5px;
  //height: 80px;
}

.virtualStockImg {
  background: url('../MyAccount/virtualStock.png') no-repeat center center;
  width: 63px;
  height: 57px;
}

.ticketImg {
  background: url('../MyAccount/ticket.png') no-repeat center center;
  width: 63px;
  height: 56px;
}

.braveImg {
  background: url('../MyAccount/brave.png') no-repeat center center;
  width: 63px;
  height: 63px;
}

.virtualStockImg, .ticketImg, .braveImg {
  background-size: cover;
  display: inline-flex;
}

.inlineFlex {
  display: inline-flex;
  flex-direction: column;
  padding-left: 10px;
}