@import "../../theme/variables.scss";

$main-color: #60e4f0;

.wrapper {
  background-color: $main-color;
  padding: 5px;
}

.content {
  background: #faf4bf;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}

.head {
  border-radius: 5px;
  background-color: #e13d9c;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.background {
  border-radius: 5px;
  background-color: white;
}

.inner {
  text-align: center;
  padding: 5px ;
  font-size: 20px;
  p {
    margin: 20px;
  }
}

.infoTable {

  width: 100%;

  td {
    padding: 10px 5px;

  }
  tr:nth-child(odd) td {
    background: #fcf2f8 !important;
  }

  .label {
    text-align: left;
    font-weight: bold;
  }
  .notice {
    font-size: 10px;
    color: #535353;
  }
  .input {
    text-align: right;
    overflow: hidden;
    input {
      width: 100%;
      text-align: right;
      overflow: hidden;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controlsBtn {
  border: none !important;
  padding: 0 !important;
  flex: 1;
}