.board{
  border-radius: 10px;
  border-style: solid;
  border-width: 26px;
  border-image: url(./border.png) 26 stretch;
  background-color: #fbf3c2;
  box-sizing: border-box;
  .content {
    margin: -5px;
  }
}

