.container {
  position: relative;
}

.spinner {
  border-radius: 50%;
  border: 5px solid whitesmoke;
  border-top-color: #787878;
  border-bottom-color: #787878;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}