{{> header.html}}

<div>
    <p>{{member.applicantName}} 様</p>
    <br />
    <p>バーチャルストックをご購入いただき、ありがとうございます。</p>
    <br />
    <p>以下のご注文につきまして、ご入金を確認させていただきました。</p>
    <br />
    <p>-- ご注文内容 --</p>

    <p>ご注文日時：{{createOrderDateMoment}}</p>

    <p>注文時レート：{{cashRateCreated}}￠</p>

    <p>購入予定額：{{purchaseAmount}}円</p>

    <p>購入予定数：{{purchaseQuantityCreated}}VS</p>

    <p>購入通貨：{{purchaseType}}</p>

    <br />
    <p>-----------------</p>
    <br />

    <p>-- 購入確定内容 --</p>

    <p>入金確認日時：{{approveDateMoment}}</p>

    <p>購入確定時レート：{{cashRate}}￠</p>

    <p>購入額：{{purchaseAmount}}円</p>

    <p>購入数：{{purchaseQuantity}}VS</p>

    <p>※ご入金確認時点でのレートにより実際の購入数が変動することがあります。</p>

    <br />
    <p>-----------------</p>
    <br />

    <p>Myページにてバーチャルストック数をご確認ください。</p>
    <p>http://mypage.brave.works</p>
</div>

{{> footer.html}}