{{> header.html}}

<table class="row">
    <tr>
        <td class="wrapper">

            <table class="twelve columns">
                <tr>
                    <td class="content-wrap">

                        <p class="content__title_medium center">
                            New asset upload, <a href="{{config.url}}/assets-manage" target="_blank">manage</a>
                        </p>

                    </td>

                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

{{> footer.html}}
