{{> header.html}}

<table class="row">
  <tr>
    <td class="wrapper">

      <table class="twelve columns">
        <tr>
          <td class="content-wrap">

            <p>
              User want to <strong>{{text}}</strong> for video <a href="https://www.youtube.com/content_id?o=8Jvge8EEAmKlKd4TZi_tow#claim/d/c={{claim.exId}}&x=s&si=0" target="_blank">"{{claim.videoTitle}}"</a>
            </p>

          </td>

          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

{{> footer.html}}
