{{> header.html}}

<div>
    <p>{{member.applicantName}} 様</p>
    <br />
    <p>バーチャルストックをご注文いただき、ありがとうございます。</p>
    <br />
    <p>ご注文内容をご確認の上、購入通貨に対応した送金方法にて</p>
    <p>ご送金をお願い致します。</p>
    <br />
    <p>入金確認後、バーチャルストックの発行を行わせていただきます。</p>
    <br />
    <p>-- ご注文内容 --</p>

    <p>ご注文日時：{{createDateMoment}}</p>

    <p>注文時レート：{{cashRate}}￠</p>

    <p>購入予定額：{{purchaseAmount}}円</p>

    <p>購入予定数：{{purchaseQuantity}}VS</p>

    <p>購入通貨：{{purchaseType}}</p>

    <p>※ご入金確認時点でのレートにより実際の購入数が変動することがあります。</p>
    <p>-----------------</p>
    <br />
    <br />

    <p>-- 送金先情報 --</p>
    <p>※ご注文時に指定した通貨に対応した送金先へご送金ください。</p>
    <br/>

    <p>【銀行振込】</p>
    <p>振込先：楽天銀行 第２営業支店</p>
    <p>（普通）7308081　カ）アドバンス</p>
    <p>※登録者と振込者名は同一にてお願い致します。</p>
    <br />

    <p>【ATC】</p>
    <p>トランスファー先ID： 0000005</p>
    <p>-----------------</p>

</div>

{{> footer.html}}