{{> header.html}}

<div>
    <div class="panel-body">
        {{applicantName}}様
        <p>
            いつもお世話になっております。<br />
            BRAVEです。
        </p>
        <p>
            下記のアドレスにアクセスしますと、パスワードの再設定をおこなえます。
        </p>
        <a href="{{siteUrl}}/registration/change_password?token={{token}}">
            {{siteUrl}}/registration/change_password?token={{token}}
        </a>
    </div>
</div>


{{> footer.html}}