{{> header.html}}

<div>
  <div class="panel-heading panel-heading-divider">
    <h3>
      {{name}}様
    </h3>
  </div>
  <br/>
  <p class="panel-body">
  <p>
    いつもお世話になっております。
  </p>
  <p>BRAVEです。</p>
  <br/>

  <p>
    BRAVE ID: {{id}}
  </p>
  <p>
    仮パスワード: {{password}}
  </p>
  <br/>

  <p>
    以下の手順で、マイページへお進み下さい。
  </p>
  <br/>
  <p>
    1.  以下のURLへアクセス頂き、上記「BRAVE ID」と「仮パスワード」をご入力下さい。
  </p>
  <p>
    <a href="{{siteUrl}}/registration/temp_login">
      http://brave.works/temp-login
    </a>
  </p>
  <br/>

  <p>
  <div style="display: flex">
    <img width="200" height="200" style="margin: 0 auto;" src="{{qr}}" />
  </div>
  </p>
  <br/>

  <p>
    2.  ログインが成功すると、初回ログイン画面が表示されますので、次回からログインする為に必要な「ログイン名」と「パスワード」を設定して下さい。
  </p>
  <p>
    【ログインID設定】
  </p>
  <p>
    ログイン名は12桁の半角英数字、または半角の「-（ハイフン）」「_（アンダーバー」「@（アットマーク）」「.（ドット）」をご使用頂けます。
  </p>
  <p>
    必ず12桁に設定する必要があるので、ご注意下さい。次回ログイン時に使用しますので、ご自分で忘れないようにご注意下さい。
  </p>
  <p>
    【パスワード設定】
  </p>
  <p>
    8桁〜16桁の半角英数字を設定して下さい。
  </p>
  <p>
    必ず半角数字と、半角英字を組み合わせる必要があります。こちらも次回ログイン時に使用しますので、ご自分で忘れないようにご注意下さい。
  </p>
  <br/>

  <p>
    3. 正常に設定出来ると、マイページが表示されます。
  </p>
  <p>
    ご自分の保有バーチャルストック等をご確認下さい。
  </p>
  <br/>

  <p>
    ※ボタンを押しても、画面が遷移しない部分に関しましては現在開発中でございます。
  </p>
  <p>
    　開発完了次第、随時有効化していきますので、予めご了承下さい。
  </p>
  <br/>

  <p>
    ■システムメンテナンスのお知らせ
  </p>
  <p>
    サービス向上の為、毎日 23:00〜05:00 にシステムメンテナンスを行ないます。
  </p>
  <p>
    システムメンテナンス中はサービスをご利用頂けません。
  </p>
  <p>
    会員様には大変ご迷惑をおかけいたしますが、何卒ご了承頂けますようよろしくお願い申し上げます。
  </p>
  <p>
    ご不明点などございましたら、カスタマーサポートセンターまでご連絡ください。
  </p>
  <br/>
  <p>
    050-5532-3061
  </p>
  <p>
    平日10：00～17：00（土日祝祭日を除く）
  </p>
</div>