{{> header.html}}

<div>
  <div class="panel-heading panel-heading-divider">
    <h3>
      {{subject}}
    </h3>
  </div>
  <div class="panel-body">
    <p>
      User {{username}} invites you to BRAVE system. Click on link below.
      <br/><a class="" href="{{siteUrl}}"><span>http://brave.works</span></a>
    </p>
    <p>BRAVE ID: {{id}}</p>

    <p>{{message}}</p>

    <img width="200" height="200" src="{{qr}}" />
  </div>
</div>

{{> footer.html}}