{{> header.html}}

<table class="row">
  <tr>
    <td class="wrapper">

      <table class="twelve columns panel" bgcolor="#f1f1f3">
        <tr>
          <td class="content-wrap sub-grid">

            <p class="content__title_medium center">
              Hi, {{userName}}
            </p>

            <p class="center">
              Looks like you have forgotten your password. Not to
              worry, click on the button below to reset your password.
            </p>

            <table>
              <tr>
                <td class="three sub-columns"></td>
                <td class="six sub-columns">
                  <table class="medium-button radius center">
                    <tr>
                      <td>
                        <a href="{{config.url}}/auth/password-confirm?token={{token}}"
                           target="_blank">Reset my password</a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="three sub-columns"></td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>

          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper">

      <table class="twelve columns panel" bgcolor="#f1f1f3">
        <tr>
          <td class="content-wrap">

            <p>Button not working? Try pasting this link into your browser:</p>

            <a href="{{config.url}}/auth/password-confirm?token={{token}}" target="_blank">
              {{config.url}}/password-reset?token={{{brokenToken}}}
            </a>

            <p>If you ignore this message, your password won't be changed.</p>

            <p class="margin-top-24">Thank you,<br>Epic Music Syndicate Team</p>

            <p>P.S. Keep your new password safe :)</p>

          </td>

          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

{{> footer.html}}

