.head {
  border-radius: 5px;
  background-color: #67d129;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin: -10px;
}

.btnAdd {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: transparent;
  img {
    width: 80%;
    height: 80%;
  }
}

.btnSend {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: transparent;
}

.code {
  text-align: center;
  margin: 25px 0 15px;
  img {
    width: 160px;
  }
}

.input {
  margin: 10px 0;
  textarea {
    resize: none;
  }
}

.inner {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  p {
    margin: 20px;
  }
}

.response {
  color: green;
  text-align: center;
}