.node circle {
    stroke-width: 1px;
}

.node text { font: 14px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.parent {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.block {
    width: 1150px;
    height: 1150px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

svg {
    display: block;
    margin: 0 auto;
}

.buttonBlock {
    text-align: center;
    position: relative;
    z-index: 5;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: 250px;
    min-height: 28px;
    padding: 5px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}