$border-color: #fabe8b;
$background-color: #f58220;

@mixin border($width) {
  border: $width solid $border-color;
}

@mixin border-top($width) {
  border-top: $width solid $border-color;
  margin-top: -1px;
}

.braveForm {
  background-color: $background-color;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
  border-left-width: 2px;

  .controlCell {
    @include border(1px);
    background-color: white;
    padding: 0;
  }

  .noticeCell {
    @include border(1px);
    background-color: #fffe9b;
    padding: 0;
  }

  .labelCell {
    @include border-top(2px);
    display: flex;
    align-items: center;
  }

  .warningCell {
    @include border(1px);
    background-color: #f2dede;
    color: red;
  }

  .inputContainer {
    display: flex;
    align-items: center;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .radioContainer {
    padding: 10px;
    input {
      margin: 0;
    }
    label {
      margin: 0;
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 5px;
    }
  }

  .checkboxContainer {
    padding: 10px;
    input {
      margin: 0;
    }
    label {
      margin: 0;
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 5px;
    }
  }

  .row {
    margin: 0;
  }

  .headerRow {
    @extend .row;
    background-color: #28ba4e;
    @include border(1px);
    .text {
      text-align: center;
    }
  }

  .table {
    table, th, tr, td {
      @include border(2px);
      border-collapse: collapse;
    }
    table {
      width: 100%;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: center;
      vertical-align: center;
      background-color: $background-color;
      color: white;
    }
    td:not(:first-child) {
      text-align: center;
      vertical-align: center;
      color: #fabe8b;
      font-weight: bold;
    }
  }

  .rankTable {
    font-size: 90%;
    width: 100%;
    overflow-x: auto;

    .amountHeaderCell {
      text-align: center;
    }
    .currency {
      padding-right: 35px;
    }
    thead {
      color: white;
      background-color: $background-color !important;
      vertical-align: middle;
      text-align: center;
      td {
        background-color: $background-color;
      }
    }
    table, th, tr, td {
      @include border(2px);
      border-collapse: collapse;
    }
    table {
      width: 100%;
      max-width: 100%;
    }
    th, td {
      padding: 5px;
    }
  }

  .currentRate {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
  }
}

.mBottom {
  margin-left: 5px;
  padding-bottom: 10px;
}

.btnBlock {
  padding: 10px 0;
}

.bold {
  font-weight: bold;
  label {
    font-weight: bold;
  }
}