@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: #2d2d2d;
  height: 400px;
  color: white;
  text-align: center;
  background: url('../Home/mainvisual.png') no-repeat center center;
  background-size: cover;
}