.title {
  text-align: center;
  margin-bottom: 30px;
}

.background {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.inner {
  background: #68A5F3;
  color: #fff;
  font-size: 28px;
  padding: 10px;
  font-weight: bold;
}

.medium {
  font-size: 32px;
}

.large {
  font-size: 36px;
}

.comission_detail_main_com_p {
  height: 35px;
}