@import "../../theme/variables.scss";

.wrapper {
  background: #178bd6;
  padding: 5px;
}

.topSection {
  padding: 5px 0;
}

.textBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 10px;
  background: #fff;
  color: #000;

  .textBlockText {
    color: #704d08;
  }

  >div {
    display: inline-flex;
  }
}

.content {
  background: #faf4bf;
  padding: 5px;
  padding-top: 0;
}

.inlineFlex {
  display: inline-flex;
  flex-direction: column;
  padding-left: 10px;
}

.brave2Way {
  background: #20BF1C;
  display: flex;
  margin: 5px 0;
  padding: 5px;
  align-items: center;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}

.braveImg {
  background: url('../MyAccount/brave.png') no-repeat center center;
  width: 63px;
  height: 63px;
  background-size: cover;
  display: inline-flex;
}

th {
  text-align: center;
}

td {
  background: #fff;
}

.be-datatable-footer {
  background: none;
}

.buttonBar {
  margin-top: 10px;
}

.btn {
  background: #20BF1C;
  border: none;
}