.button {
  border: none;
  padding: 0;
  background-color: transparent !important;
}

.order {
  padding-top: 10px;
  margin: 0 20px;
  font-size: 16px;
  table {
    margin: auto;
  }
  th {
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
  }
}

.order:not(:first-child) {
  border-top: 1px solid #ddd;
}

.background {
  border-radius: 5px;
  background-color: white;
}

.inner {
  padding: 5px ;
  font-size: 20px;
  p {
    margin: 20px;
  }
}