@import "../../theme/variables.scss";

$main-color: #60e4f0;

.wrapper {
  background-color: $main-color;
  padding: 5px;
}

.content {
  background: #faf4bf;
  padding: 5px;
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: space-around;
}

.head {
  border-radius: 5px;
  background-color: #28becf;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.background {
  border-radius: 5px;
  background-color: white;
}

.inner {
  text-align: center;
  padding: 5px ;
  font-size: 20px;
  p {
    margin: 20px;
  }
}