$border-color: #bbb;
$background-color: white;

.searchForm {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  max-height: 700px;
  display: block;
  transition: all 0.5s linear;
  background-color: $background-color;
  &.hidden {
    max-height: 0;
  }

  .wrapper {
    padding: 15px;
  }
}
.hideButton {
  margin-top: -1px;
  padding: 5px 15px;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-color: $border-color;
  border-width: 0 1px 1px 1px;
  background-color: $background-color;
}


