.title {
  text-align: center;
  margin-bottom: 30px;
}

.background {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.inner {
  background: #A96EDB;
  color: #fff;
  font-size: 28px;
  padding: 10px;
}

.medium {
  font-size: 32px;
}

.large {
  font-size: 36px;
}
