#mypage_tabs a {
  padding: 0;
  background: transparent;
}
#mypage_tabs a {
  padding: 0;
  background: transparent;
}

#mypage_tabs .nav {
  background: transparent;
}

#mypage_tabs .tab-content {
  padding: 0;
  background: transparent;
}