.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('../Home/logo.png') no-repeat center center;
    width: 135px;
    height: 70px;
    margin: 0 10px 0 0;
  }
  nav :global(.fa) {
    font-size: 3em;
    line-height: 20px;
  }
}
.appContent {
  margin: 0px 0; // for fixed navbar
  min-height: calc(100vh - 160px);
}

.navbar {
  background: #fade55 url('./headerbg.png') repeat-x;
  border: none;
  //margin-bottom: 25px;
  color: white;
  padding: 50px;
}

.header {
  background-color: #03a9f4;
  color: white;
  padding: 16px;
  font-size: 1.5em;
},

.contentHeaderMenuLink {
  text-decoration: none;
  color: white;
  padding: 8px;
}

.content {
  padding: 16px;
}

.navbarToggle {
  position: absolute;
  background: url('./navbarToggle.png') no-repeat center center;
  background-size: cover;
  border: none !important;
  color: #fff !important;
  height: 80px !important;
  width: 80px !important;
  left: 10px !important;
  top: 10px !important;
}

@media screen and (max-width: 767px) {
  .navbarToggle * {
    visibility: hidden;
  }

  .navbarToggle:hover, .navbarToggle:focus {
    background-color: inherit !important;
  }

  //.navbarBrand {
  //  float: right;
  //  left: -135px;
  //}

  .navbarCollapse {
    border: none !important;
  }
}

.headerImg {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px;
}