/*Reset Style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, /*p, */blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
body {
	line-height: 1;
	-webkit-text-size-adjust:100%;
}
h1, h2, h3, h4, h5, h6 {
/*	clear: both;*/
	font-weight: normal;
}
/*ol, */ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/*  clearfix  */
.clearfix:after {
	content: "."; /* 新しい要素を作る */
	display: block; /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* レイアウト
--------------------------------------------*/
/* マージン */
.mt05 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mb05 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mr05 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
.ml05 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}

/* パディング */
.pt05 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}
.pt45 {padding-top: 45px;}
.pt50 {padding-top: 50px;}
.pb05 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb35 {padding-bottom: 35px;}
.pb40 {padding-bottom: 40px;}
.pb45 {padding-bottom: 45px;}
.pb50 {padding-bottom: 50px;}
.pr05 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pr40 {padding-right: 40px;}
.pr45 {padding-right: 45px;}
.pr50 {padding-right: 50px;}
.pl05 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl35 {padding-left: 35px;}
.pl40 {padding-left: 40px;}
.pl45 {padding-left: 45px;}
.pl50 {padding-left: 50px;}

/* 幅 */
.w100 {width:100% !important;}
.w95 {width:95% !important;}
.w90 {width:90% !important;}
.w85 {width:85% !important;}
.w80 {width:80% !important;}
.w75 {width:75% !important;}
.w70 {width:70% !important;}
.w65 {width:65% !important;}
.w60 {width:60% !important;}
.w55 {width:55% !important;}
.w50 {width:50% !important;}
.w45 {width:45% !important;}
.w40 {width:40% !important;}
.w35 {width:35% !important;}
.w30 {width:30% !important;}
.w25 {width:25% !important;}
.w20 {width:20% !important;}
.w15 {width:15% !important;}
.w10 {width:10% !important;}
.w05 {width:05% !important;}

/* フロート */
.fl {float: left;}
.fr {float: right;}

/* テキストアライン */
.tal {text-align: left; line-height: 1.5;}
.tar {text-align: right; line-height: 1.5;}
.tac {text-align: center; line-height: 1.5;}

/* フォントサイズ */
.big {font-size: 18px;}
.middle{font-size: 16px;}
.small {font-size: 12px;}

/* ロールオーバー */
.hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}



/* サイトフレーム
------------------------------------------- */
body {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 1.5;
	background: url(../images/bg.png);
	background-size: 100vw;
	font-size: 16px;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
a {
	text-decoration: none;
	outline: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
#contents {
	padding: 2vw;
}
@media (min-width: 600px) {
	body {
		background: #fff;
	}
	#wrap {
		background: url(../images/bg.png);
		width: 600px;
		margin: auto;
	}
}


/* ヘッダー
------------------------------------------- */
header {
	position: relative;
}
header h1 {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -10px;
}
header .menu-open {
	position: absolute;
	top: 5px;
	left: 5px;
}



/* フッター
------------------------------------------- */
footer img {
	vertical-align: bottom;
	position: fixed;
	bottom: 0;
}



/* index.html
------------------------------------------- */
#my-account {
/*	display: flex;
	justify-content: space-between;
*/	width: 100%;
	margin-bottom: 10px;
}
#my-account dl,
#my-account .btn {
	width: 30%;
	float: left;
}
#my-account dl {
	margin-right: 2%;
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 2% 1%;
	font-size: 18px;
}
#my-account dl dd {
	text-align: right;
}


#mypage_tabs {
	margin-bottom: 10px;
}
#mypage_tabs li {
	width: 24.4%;
	float: left;
	margin-right: 0.7%;
}
#mypage_tabs li:last-child {
	margin-right: 0;
}
#mypage_tabs li img {
	vertical-align: bottom;
	width: 100%;
}

#mypage_tabs #ticket,
#mypage_tabs #one-way,
#mypage_tabs #two-way,
#mypage_tabs #three-way,
#mypage_tabs #stock {
	background-size: 96vw;
	position: relative;
}
#mypage_tabs dl {
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	position: relative;
	margin-top: -15%;
	left: 2%;
	width: 93%;
	line-height: 190%;
	font-size: 20px;
}
#mypage_tabs dl dt {
	color: #714e09;
}
#mypage_tabs dl dd {
	text-align: right;
}

#mypage_tabs .active a {
	border-bottom: none;
}


#bord {
	position: relative;
}
#bord .btn {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: stretch;
	padding: 0 2%;
	position: absolute;
	top: 3.5%;
	left: 0;
	width: 95%;
}
#bord .btn a {
	display: block;
	width: 47%;
	margin-bottom: 2%;
}


/* account.html
------------------------------------------- */
.account #my-account dl {
	width: 46%;
	float: left;
	font-size: 14px;
}
.account #my-account dl:last-child {
	float: right;
	margin-right: 0;
}
.account .btn div {
	width: 49%;
	float: left;
}
.account .btn div:last-child {
	float: right;
}
.bord .bord-body {
	background: url(../images/bord-body.png) repeat-y;
	background-size: 100%;
	padding: 0 5%;
	min-height: 300px;
}
.account .bord a {
	display: block;
}
.bord .futa {
	vertical-align: bottom;
}
.bord .soko {
	vertical-align: top;
}
.account .bord .base {
	position: relative;
	margin-bottom: 10px;
}
.account .bord .base:last-child {
	margin-bottom: 0;
}
.account .bord .base span {
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 30%;
	font-size: 200%;
	line-height: 1;
}


/* stock01.html, stock02.html
------------------------------------------- */
.stock h3,
.stock2 h3 {
	background: #f22a62;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	padding: 3px 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: inherit;
}
.stock .box .inner {
	font-size: 18px;
}
.stock .box .inner,
.stock2 .box .inner {
	background: #fff;
	padding: 10px;
}
.stock .box dl {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 10px;
}
.stock .box dt,
.stock .box dd {
	width: 50%;
	text-align: center;
}
.stock table {
	width: 100%;
}
.stock th {
	border-bottom: 1px solid #cdcdcd;
	text-align: left;
	font-weight: normal;
	padding-top: 5px;
	white-space: nowrap;
	padding-right: 10px;
}
.stock td {
	border-bottom: 1px solid #cdcdcd;
	padding-top: 5px;
	font-size: 15px;
}
.stock table th.no-border,
.stock table td.no-border {
	border-bottom: none;
}
.stock2 table {
	margin: auto;
}
.stock2 .date {
	font-size: 20px;
}
.stock2 th {
	text-align: left;
	font-weight: normal;
	padding-top: 5px;
	white-space: nowrap;
	padding-right: 20px;
	text-align: right;
	font-size: 20px;
}
.stock2 td {
	padding-top: 5px;
	font-size: 20px;
}
.stock2 .box .inner .box:first-child {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 10px;
}

/*input, button, textarea, select {*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*appearance: none;*/
/*}*/
/*input, button, textarea, select {*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*background: none;*/
	/*border: none;*/
	/*border-radius: 0;*/
	/*outline: none;*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*appearance: none;*/
/*}*/
/*input[type="radio"] {*/
	/*display: none;*/
/*}*/
/*label.radio {*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*padding: 3px 3px 3px 20px;*/
	/*cursor: pointer;*/
/*}*/
/*label.radio::before {*/
	/*position: absolute;*/
	/*content: '';*/
	/*top: 50%;*/
	/*left: 0;*/
	/*width: 14px;*/
	/*height: 14px;*/
	/*margin-top: -8px;*/
	/*border: 1px solid #cfcfcf;*/
	/*border-radius: 100%;*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ddddde), color-stop(0.00, #fff));*/
	/*background: -webkit-linear-gradient(#fff, #ddddde);*/
	/*background: -moz-linear-gradient(#fff, #ddddde);*/
	/*background: -o-linear-gradient(#fff, #ddddde);*/
	/*background: -ms-linear-gradient(#fff, #ddddde);*/
	/*background: linear-gradient(#fff, #ddddde);*/
/*}*/
/*input[type="radio"]:checked + label::after {*/
	/*position: absolute;*/
	/*content: '';*/
	/*top: 50%;*/
	/*left: 4px;*/
	/*width: 8px;*/
	/*height: 8px;*/
	/*margin-top: -4px;*/
	/*border-radius: 100%;*/
	/*background: #f85784;*/
/*}*/
/*input[type="text"], textarea, input[type="password"] {*/
	/*border: 1px solid #cfcfcf;*/
	/*padding: 2px;*/
/*}*/
/*.stock input[type="text"] {*/
	/*text-align: right;*/
	/*font-size: 16px;*/
/*}*/



/* ticket.html
------------------------------------------- */
.ticket dl {
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	line-height: 1;
	font-size: 20px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.ticket dl dt {
	color: #714e09;
	font-weight: bold;
}
.ticket dl dd {
	text-align: right;
}



/* 3way01.html ~ 3way03.html
------------------------------------------- */
.three-way h3 {
	background: #f49e16;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	padding: 3px 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: inherit;
}
.three-way dl {
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	line-height: 1;
	font-size: 20px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.three-way dl dt {
	color: #714e09;
	font-weight: bold;
}
.three-way dl dd {
	text-align: right;
}
.three-way .box .inner {
	background: #fff;
	padding: 10px;
}
.three-way table {
	width: 100%;
}
.three-way th {
	border-bottom: 1px solid #cdcdcd;
	font-weight: normal;
	padding-top: 5px;
	white-space: nowrap;
	padding-right: 10px;
	text-align: right;
	font-size: 20px;
}
.three-way td {
	border-bottom: 1px solid #cdcdcd;
	padding-top: 5px;
	text-align: right;
	font-size: 20px;
}
.three-way table th.no-border,
.three-way table td.no-border {
	border-bottom: none;
}
.three-way .table {
	background: #fff;
}
.three-way .table thead th {
	background: #ffdb6c;
	text-align: center;
}
.three-way .table thead th,
.three-way .table tbody td {
	font-size: 14px;
	border: 1px solid #cdcdcd;
	padding: 3px;
	height: 1.5em;
}
.three-way .prev-next {
	display: flex;
	justify-content: space-between;
}
.three-way .prev-next div {
	width: 48%;
}

.three-way .react-bs-table-container {
	padding: 0;
}

.three-way .react-bs-table {
	margin: 0;
}



/* 1way01.html ~ 1way03.html
------------------------------------------- */
.one-way h3 {
	background: #f13cb8;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	padding: 3px 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: inherit;
}
.one-way dl {
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	line-height: 1;
	font-size: 20px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.one-way dl dt {
	color: #714e09;
	font-weight: bold;
}
.one-way dl dd {
	text-align: right;
}
.one-way .box .inner {
	background: #fff;
	padding: 10px;
}
.one-way table {
	width: 100%;
}
.one-way th {
	border-bottom: 1px solid #cdcdcd;
	font-weight: normal;
	padding-top: 5px;
	white-space: nowrap;
	padding-right: 10px;
	text-align: right;
	font-size: 20px;
}
.one-way td {
	border-bottom: 1px solid #cdcdcd;
	padding-top: 5px;
	text-align: right;
	font-size: 20px;
}
.one-way table th.no-border,
.one-way table td.no-border {
	border-bottom: none;
}
.one-way .table {
	background: #fff;
}
.one-way .table thead th {
	background: #f6a6dd;
	text-align: center;
}
.one-way .table thead th,
.one-way .table tbody td {
	font-size: 14px;
	border: 1px solid #cdcdcd;
	padding: 3px;
	height: 1.5em;
}
.one-way .prev-next {
	display: flex;
	justify-content: space-between;
}
.one-way .prev-next div {
	width: 48%;
}

.one-way .react-bs-table-container {
	padding: 0;
}

.one-way .react-bs-table {
	margin: 0;
}

/* exchange.html
------------------------------------------- */
.exchange h3 {
	background: #f22a62;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	padding: 3px 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: inherit;
}
.exchange .box .inner {
	background: #fff;
	padding: 10px;
}
.exchange .box dl {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin-bottom: 10px;
}
.exchange .box dt,
.exchange .box dd {
	width: 50%;
	text-align: center;
}
.exchange table {
	width: 100%;
	font-size: 20px;
}
.exchange th {
	border-bottom: 1px solid #cdcdcd;
	text-align: left;
	font-weight: normal;
	padding-top: 5px;
	white-space: nowrap;
	padding-right: 10px;
}
.exchange td {
	border-bottom: 1px solid #cdcdcd;
	padding-top: 5px;
	text-align: right;
}
.exchange table th.no-border,
.exchange table td.no-border {
	border-bottom: none;
}
.exchange dl {
	background: #fff;
	border: 1px solid #ee9f1f;
	display: flex;
	justify-content: space-between;
	padding: 1vw;
	line-height: 1;
	font-size: 20px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.exchange dl dt {
	color: #714e09;
	font-weight: bold;
}
.exchange dl dd {
	text-align: right;
}
.exchange .rate {
	font-size: 20px;
	text-align: center;
	margin: 5px 0;
}


/* report.html
------------------------------------------- */
.report .inner {
	padding: 15px 5px;
	background-color: #fff;
	text-align: center;
}
.report .month-select {
	margin-bottom: 18px;
	font-size: 0;
	text-align: center;
}
.report .month-select li {
	width: 40.625%;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	display: inline-block;
}
.report .month-select li.prev,
.report .month-select li.next {
	width: 8px;
}
.report .month-select li.prev img,
.report .month-select li.next img {
	vertical-align: 2px;
}
.report dl {
	margin-bottom: 18px;
}
.report dt {
	margin-bottom: 12px;
	font-size: 17px;
	font-weight: bold;
	line-height: 1.1;
}
.report dd {
	margin-bottom: 20px;
	font-size: 23px;
	font-weight: bold;
	line-height: 1.1;
}

.report .main-comission {
	margin-bottom: 15px;
}
.report .main-comission dt {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 1.1;
}
.report .main-comission dd {
	font-size: 28px;
	font-weight: bold;
	line-height: 1.1;
}
.report table {
	width: 100%;
	margin-bottom: 5px;
}
.report table th {
	width: 50%;
	padding: 0 7.03125% 12px 0;
	line-height: 1.1;
	text-align: right;
}
.report table td {
	width: 50%;
	padding: 0 0 12px 7.03125%;
	line-height: 1.1;
	text-align: left;
}
.report .purchase th,
.report .purchase td {
	padding: 0 0 15px;
	text-align: center;
}
.report .maching-bonus {
	margin-bottom: 15px;
}
.report .maching-bonus dt {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 1.1;
}
.report .maching-bonus dd {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.1;
}

/* comission.html
------------------------------------------- */
.comission h3 {
	padding: 3px 0;
	border-radius: 5px;
	background-color: #28bed0;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
	line-height: inherit;
}
.comission .inner {
	padding: 15px 5px;
	background-color: #fff;
	text-align: center;
}
.comission .payment-amount {
	margin: 0 0 20px;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.1;
}
.comission table {
	width: 100%;
	margin-bottom: 5px;
}
.comission table th {
	width: 50%;
	padding: 0 7.03125% 15px 0;
	text-align: right;
}
.comission table td {
	width: 50%;
	padding: 0 0 15px 7.03125%;
	text-align: left;
}
.comission .purchase th,
.comission .purchase td {
	padding: 0 0 15px;
	text-align: center;
}
.comission dl {
	margin-bottom: 18px;
}
.comission dt {
	margin-bottom: 12px;
	font-size: 17px;
	font-weight: bold;
}
.comission dd {
	margin-bottom: 12px;
	font-size: 23px;
	font-weight: bold;
}

.navigation li {
	border-bottom: 1px solid #ddd;
}








/* comission_detail.html
------------------------------------------- */
.comission_detail .box .inner {
	background: #fff;
	padding: 10px;
}
.comission_detail a:hover{
	text-decoration:none;
}
.comission_detail h2 {
	font-weight: bold;
	padding-bottom: 10px;
}
.comission_detail .main_com p,.comission_detail .main_rank p,.comission_detail .main_mega p,.comission_detail .main_cash p{
	width:60%;
	margin:0 auto 5px;
	padding:2px 50px 0;
	font-size: 24px;
	background-color: rgba(255,255,255,0.5);
	color:#000;
	box-sizing: content-box;
}
.comission_detail .main_com p .val,.comission_detail .main_rank p .val,.comission_detail .main_mega p .val,.comission_detail .main_cash p .val{
	float:right;
}
.comission_detail_main_com_p {
  height: 35px;
  line-height: 30px;
}
.comission_detail .main_com {
	background: #52A7FA;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	margin:0 0 10px 0;
	font-size: 22px;
	font-weight: bold;
}
.comission_detail .main_rank {
	background: #70BF41;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	margin:0 0 10px 0;
	font-size: 22px;
	font-weight: bold;
}
.comission_detail .main_mega {
	background: #F49019;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	margin:0 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.comission_detail .main_cash {
	background: #B36AE2;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	margin:0 0 10px 0;
	font-size: 22px;
	font-weight: bold;
}

.note_rank {
	position:relative;
	width:100%;
	padding:1em 1.5em;
	margin:2em auto;
	color:#fff;
	background:#97C02F;
	overflow:hidden;
}

.note_rank:before {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	border-width:8px; /* This trick side-steps a webkit bug */
	border-style:solid;
	border-color:  #658E15 #FBF4C2 #FBF4C2 #658E15 ; /* A bit more verbose to work with .rounded too */
	background:#FBF4C2; /* For Opera when also applying a border-radius */
	display:block; width:0; /* Only for Firefox 3.0 damage limitation */
	/* Optional: shadow */
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.note_main {
	position:relative;
	width:100%;
	padding:1em 1.5em;
	margin:2em auto;
	color:#fff;
	background:#97C02F;
	overflow:hidden;
}

.note_main:before {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	border-width:8px; /* This trick side-steps a webkit bug */
	border-style:solid;
	border-color:  #0568CB #FBF4C2 #FBF4C2 #0568CB ; /* A bit more verbose to work with .rounded too */
	background:#FBF4C2; /* For Opera when also applying a border-radius */
	display:block; width:0; /* Only for Firefox 3.0 damage limitation */
	/* Optional: shadow */
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.note_mega {
	position:relative;
	width:100%;
	padding:1em 1.5em;
	margin:2em auto;
	color:#fff;
	background:#97C02F;
	overflow:hidden;
}

.note_mega:before {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	border-width:8px; /* This trick side-steps a webkit bug */
	border-style:solid;
	border-color:  #B36609 #FBF4C2 #FBF4C2 #B36609 ; /* A bit more verbose to work with .rounded too */
	background:#FBF4C2; /* For Opera when also applying a border-radius */
	display:block; width:0; /* Only for Firefox 3.0 damage limitation */
	/* Optional: shadow */
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.note_cash {
	position:relative;
	width:100%;
	padding:1em 1.5em;
	margin:2em auto;
	color:#fff;
	background:#97C02F;
	overflow:hidden;
}

.note_cash:before {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
	border-width:8px; /* This trick side-steps a webkit bug */
	border-style:solid;
	border-color:  #7922B3 #FBF4C2 #FBF4C2 #7922B3 ; /* A bit more verbose to work with .rounded too */
	background:#FBF4C2; /* For Opera when also applying a border-radius */
	display:block; width:0; /* Only for Firefox 3.0 damage limitation */
	/* Optional: shadow */
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.comission_detail .select-wrapL {
	margin: 0 10px 20px;
	position: relative;
	float:left;
	width:40%;
	color: #000;
}
.comission_detail .select-wrapR {
	margin: 0 10px 20px;
	position: relative;
	float:right;
	width:40%;
	color: #000;
}
/*.comission_detail .select-wrapR::after,.comission_detail .select-wrapL::after {
	width: 10%;
	height: 30px;
	background: url(../images/btn-pulldown.png) no-repeat top center / 100% 100%;
	content: '\0020';
	position: absolute;
	top: 0;
	right: 10%;
	z-index: 1500;
	display: block;
}*/
.comission_detail select.year {
	width: 100%;
	height: 45px;
	padding: 0 25% 0 10px;
	border: 1px solid #cdcdcd;
	font-size: 20px;
	box-sizing: border-box;
	position: relative;
	background: #fff url(../images/btn-pulldown.png) no-repeat top right / 20% 100%;
	text-align:right;
}
.comission_detail select.month {
	width: 100%;
	height: 45px;
	padding: 0 25% 0 10px;
	border: 1px solid #cdcdcd;
	font-size: 20px;
	box-sizing: border-box;
	position: relative;
	background: #fff url(../images/btn-pulldown.png) no-repeat top right / 20% 100%;
	text-align:right;
}
.comission_detail table{
	width:70%;
	margin:0 auto 10px;
	background-color: rgba(255,255,255,0.5);
	color:#000;
}
.comission_detail table th{
	border-right:1px solid #fff;
	width:50%;
}
.comission_detail table.mm_tbl{
	width:70%;
	margin:0 auto 10px;
	background-color: rgba(255,255,255,0.5);
	color:#000;
}
.comission_detail table.mm_tbl th{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	width:50%;
}
.comission_detail table.mm_tbl td{
	border-bottom:1px solid #fff;
}
.comission_detail table td,
.comission_detail table th {
	background: transparent !important;
}

.comission_detail select {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}