.container {
  display: flex;
  justify-content: space-between;
  .block {
    padding: 10px;
    flex: 1;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
}

.mTopSm {
  margin-top: 15px;
  text-align: center;
  width: auto;
}

.mTop {
  padding-top: 20px;
}

.mbottom {
  margin-bottom: 10px;
}


.m-sm {
  margin-top: 20px;
}
