.background {
  border-radius: 5px;
  background-color: white;
  padding: 5px 0;
}

.commissionBlock {
  color: #fff;
  margin: 20px;

  h3 {
    text-align: center;
  }
}

.mainCommission {
  background: #68A5F3;
}

.rankCommission {
  background: #83BD54;
}

.megaCommission {
  background: #E6953B;
}

.cashRewardCommission {
  background: #A96EDB;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  & > * {
    display: flex;
  }
}